.form {
  display: flex;
  width: 100%;
}

.button {
  all: unset;
  box-sizing: border-box;
  border: 1px solid rgba(171, 177, 193, .9);
  border-right: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 10px;
  font-family: 'Nunito', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: color .2s, border-color .2s;
}

.button:hover:enabled {
  color: #00996f;
  border-color: #00996f;
}

.button:disabled {
  color: rgba(171, 177, 193, .5);
  cursor: unset;
}

.button:active,
.button:focus {

}